.todo{
  position: relative;
}

.todo-btn{
  max-width: 100px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.todo-btn__txt{
font-weight: 700;
font-size: 1rem;
cursor: pointer;
user-select: none;
}

.todo-list{
  position: absolute;
  list-style: none;
  padding: 0 0;
  margin: 0 0;
  left: -240px;
  bottom: 30px;
  width: 300px;
  height: 200px;
  border-radius: 6px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(24, 25, 26, 0.781);
  display:none;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

.todo-list_visible{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.todo-list__item{
  width: 90%;
  padding: 0 0;
  margin: 2px 0 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
}

.todo-list__item_done{
  text-decoration: line-through;
  background-color: rgba(0, 0, 0, 0.205);
}

.todo-list__item__delete{
  width: 12px;
  background-image: url(../assets/img/delete.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.todosInput{
  margin:5px 5px 0 5px;
  width: 87%;
}

@media (max-width: 768px) {
  .todo-list{
    height: 150px;
  }
}

@media (max-width: 480px) {
  .todo-list{
    height: 100px;
  }
}